{% extends 'base.html.twig' %}

{% block title %}EasyCubi{% endblock %}
    
{% block body %}
    
    <p class="glitch">
        <span aria-hidden="true">Welcome to EasyCubi</span>
        Welcome to EasyCubi
        <span aria-hidden="true">Welcome to EasyCubi</span>
    </p>
    
{% endblock %}
