
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/glitch.css') }}">
{% endblock %}
{% block title %}{% endblock %}
{% block body %}
{% if app.user %}
<div class="mb-3">
You are logged in as {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% endif %}

   <p class="glitch">Welcome to my website</p>

{% endblock %}